#keyboard {
    display: flex;
    flex-direction: column; /* Stack rows vertically */
    justify-content: center;  /* Center the rows horizontally */
    align-items: center;  /* Center the whole keyboard horizontally */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    gap: 10px;  /* Space between rows */
}

.keyboard-row {
    display: flex;
    gap: 10px; /* Space between keys horizontally */
    justify-content: center; /* Center keys in each row */
}

#convert-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optional, to add space above the button */
}

.key {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.key:hover {
    background-color: #ddd;
}

.key:active {
    background-color: #ccc;
}

/* Larger keys */
.key.special {
    width: 80px; /* Adjust width for special keys */
}

.key.wide {
    width: 200px;  /* Space key should be wider */
}

.key.long {
    width: 100px;  /* Enter key slightly wider */
}

textarea {
    width: 80%;
    height: 100px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
